// Important: Default background colour
// background: linear-gradient(to right, #0F0C17, #310E4A, #3A1735, #0F0C17);
// Animation for Pre-loader
.loading-page {
  #svg {
    stroke-width: 8px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;

    @keyframes draw {
      0% {
        stroke-dashoffset: 4500;
      }

      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}