// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

// Import Tailwind CSS base, components, and utilities
@tailwind base;
@tailwind components;
@tailwind utilities;

// Set root-level font variables
:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

// General styles
* {
  scroll-behavior: smooth;
}

// Base styles for the body
body {
  @apply font-sans bg-n-8 text-n-1 text-base;
}

// Custom rotation utilities
.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

// Base component styles
.container {
  @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
}

.h1 {
  @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
}

.h2 {
  @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight;
}

.h3 {
  @apply text-[2rem] leading-normal md:text-[2.5rem];
}

.h4 {
  @apply text-[2rem] leading-normal;
}

.h5 {
  @apply text-2xl leading-normal;
}

.h6 {
  @apply font-semibold text-lg leading-8;
}

.body-1 {
  @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8;
}

.body-2 {
  @apply font-light text-[0.875rem] leading-6 md:text-base;
}

.caption {
  @apply text-sm;
}

.tagline {
  @apply font-grotesk font-light text-xs tracking-tagline uppercase;
}

.quote {
  @apply font-code text-lg leading-normal;
}

.button {
  @apply font-code text-xs font-bold uppercase tracking-wider;
}

// Custom scrollbar styles
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #4a0c77, #6a175e);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(circle, #4a0c77, #6a175e);
}

// Animation for Home Page Pre-loader
.loading-page {
  #svg {
    stroke-width: 8px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;

    @keyframes draw {
      0% {
        stroke-dashoffset: 4500;
      }

      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}

// Falling Stars Container
.falling-stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    opacity: 0;
    animation: fallingStars 4s infinite linear;
  }

  .star:nth-child(2) {
    animation-delay: 0.5s;
    animation-duration: 3s;
  }

  .star:nth-child(3) {
    animation-delay: 1s;
    animation-duration: 5s;
  }

  .star:nth-child(4) {
    animation-delay: 1.5s;
    animation-duration: 3.5s;
  }

  .star:nth-child(5) {
    animation-delay: 2s;
    animation-duration: 4.5s;
  }

  @keyframes fallingStars {
    0% {
      opacity: 0;
      transform: translate(0, -50%) scale(0.8) rotate(0deg);
    }

    50% {
      opacity: 1;
      transform: translate(50vw, 50vh) scale(1) rotate(180deg);
    }

    100% {
      opacity: 0;
      transform: translate(100vw, 100vh) scale(0.6) rotate(360deg);
    }
  }
}

// Carousel styles
.carousel {
  .images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .image {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: opacity 0.3s, transform 0.5s;
  }

  .img-1 {
    transform: translate(0, -50px);
  }

  .img-2 {
    transform: scale(0.4, 0.5);
  }

  .img-3 {
    transform: scale(0.3) rotate(-20deg);
  }

  .image.show {
    opacity: 1;
    transform: none;
  }
}

// Media queries for responsive adjustments
@media (max-width: 850px) {
  .carousel {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    height: auto !important;
    width: 100% !important;
    padding: 3rem 2rem !important;
  }

  .carousel .images-wrapper {
    display: block;
  }

  .carousel .image {
    opacity: 0;
  }

  .carousel .text-slider {
    width: 100% !important;
  }

  .carousel .text-wrap {
    margin-bottom: 1rem !important;
  }

  .carousel .text-group h2 {
    font-size: 1rem !important;
  }
}